:root {
    --bg-color: color-mix(in srgb, rgb(25, 1, 50) 60%, black 40%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: var(--bg-color, midnightblue);
    color: color(srgb 1 1 1);
}

/* Header */
header {
    padding: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    border: 2px solid white;
    border-radius: 5px;
}

header p {
    margin: 0.2rem 0 0.2rem 1rem;
    color: color(srgb 0.9 0.85 1);

}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1.5rem;
}
nav a {
    text-decoration: none;
    color: lightskyblue;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 5px;
}
nav a:hover {
    background-color: midnightblue;
    color: white;
}
nav a:active {
    background-color: lightskyblue;
    color: midnightblue;
}

/* Sections */
section {
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: rgba(255, 255, 255, 0.1);
}

.present {
    color: #2ecc71;
    font-weight: bold;
}

.absent {
    color: #e74c3c;
    font-weight: bold;
}

/* Media */
#media img,
#media video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset {
    border: 1px solid white;
    border-radius: 8px;
    padding: 1rem;
}

fieldset > * {
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input, select, textarea {
    padding: 1rem;
    border-radius: 6px;
    border: none;
}

textarea {
    width: 50%;
    box-sizing: border-box;
}

/* Button */
button {
    background-color: white;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem 1.5rem;
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background-color: white;
    color: black;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid white;
    margin-top: 2rem;
    color: color(srgb 0.8 0.8 0.8);
    font-style: italic;
}